#Requirements#

| # | User story    | Functional Requirement   |
|:-:|-----------|------------------------|
| 1 | As a knitter I want to be able to read knitting pattern schematics on my phone without much hassle | Easily usable display of knitting pattern |
| 2 |  |  |
| 3 |  |  |
| 4 |  |  |
| 5 |  |  |


__*Functional Requirements*__

```Defines something a System should do (behavior, function, WHAT)```

1. show/edit/create/delete functions for
    1. needle inventory
    2. yarn inventory
    3. knitting projects
    4. knitting patterns
2. shopping list: show needles and yarn that are not in inventory yet and are inputted for a project

__*Non-functional Requirements*__

```Defines how a system works: data integrity, usability, performance, HOW)```

1. DB → relational
    1. needles
    2. yarn
    3. projects
    4. patterns
    5. shopping list
2. input screens for
    1. needle
    2. yarn
    3. project
3. pattern editor
4. screens
    1. start screen with access to needles, yarns, projects, patterns, missing yarn&needles
    2. needle list screen
    3. needle create/edit screen
    4. yarn list screen
    5. yarn create/edit screen
    6. project list screen
    7. project create/edit screen
    8. view pattern instructions while working screen
    1. user feedback while knitting (audio, visual)?
    9. pattern input/edit screen
    10. missing needles&yarn screen


